# The Movies Database
## Descriptive Analysis

Required imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import pyspark
%matplotlib inline

Bad key "text.kerning_factor" on line 4 in
C:\Users\20111\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

## Exploring the data
Loading the cast file and exploring its contents

In [61]:
cast_df = pd.read_csv(r'./data/credits.csv')
cast_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

Files are in JSON format which is not friendly to exploration.  
Parsing the data to get the actors info for each movie in a csv, from the cast column.  
(movie_id, actor_id, name, order, gender)
order: the order in the credits with 0 being the star of the movie    
Although crew are critical to movies quality, the audience rarely targets them when heading to a movie, so I will only take the director form the crew column.

In [62]:
# JSON requires name being in double quotes
# ast handles this pretty well 
import ast

After parsing the data getting the director per movie.

In [63]:
x = (cast_df['crew'][0])
y = ast.literal_eval(x)
for i in y:
    if i['job'] == 'Director':
        print(i['name'])

John Lasseter

Getting (movie_id, actor_id, name, order, gender)

In [64]:
x = (cast_df['cast'][0])
y = ast.literal_eval(x)
for k in y[0]:   
    print(k, y[0][k])

cast_id 14
character Woody (voice)
credit_id 52fe4284c3a36847f8024f95
gender 2
id 31
name Tom Hanks
order 0
profile_path /pQFoyx7rp09CJTAb932F2g8Nlho.jpg

Saving clean data into csv files

In [65]:
actors = [("movie_id", "actor_id", "name", "order", "gender")]
cast = cast_df['cast']
ids = cast_df['id']
N = cast.shape[0]

for i in range(N):
    info_str = cast[i]
    id = ids[i]
    info_dicts = ast.literal_eval(info_str)
    for entry in info_dicts:
        actors.append((id, entry['id'], entry['name'], entry['order'], entry['gender']))

In [85]:
directors = [("movie_id", "director_id", "name")]
crew = cast_df['crew']

N = crew.shape[0]

for i in range(N):
    info_str = crew[i]
    id = ids[i]
    info_dicts = ast.literal_eval(info_str)
    for entry in info_dicts:
        if entry['job'] == 'Director':
            directors.append((id, entry['name']))

Comparing number of movies to number of diectors it is apparent that some movies have multiple directors.  
Comparing number of actors per movie comes out to be average of 12 actors per movie.

In [86]:
print(len(directors), N)
print(len(actors)/N)

49049 45476
12.368612015128859

Output the parsed data

In [87]:
import csv

In [88]:
# open the file in the write mode
f = open('./dataparsed/cast.csv', 'w')

# create the csv writer
writer = csv.writer(f)

N = len(actors)
for i in range(N):
    writer.writerow(actors[i])

In [89]:
# open the file in the write mode
f = open('./dataparsed/directors.csv', 'w')

# create the csv writer
writer = csv.writer(f)

N = len(directors)
for i in range(N):
    writer.writerow(directors[i])

Keywords are indicative to desire of watching a movie, maybe more specific than genres.

In [72]:
kw_df = pd.read_csv(r'./data/keywords.csv')
kw_df.head(1)

    id                                           keywords
0  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...

In [73]:
x = kw_df['keywords'][1]
y = ast.literal_eval(x)
print(y)

[{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}, {'id': 15101, 'name': "based on children's book"}, {'id': 33467, 'name': 'new home'}, {'id': 158086, 'name': 'recluse'}, {'id': 158091, 'name': 'giant insect'}]

In [74]:
N = kw_df.shape[0]
keywords = [("movie_id", "keyword_id", "keyword")]
for i in range(N):
    id = kw_df['id'][i]
    info_str = kw_df['keywords'][i]
    info_dicts = ast.literal_eval(info_str)
    for entry in info_dicts:
        keywords.append((id, entry['id'], entry['name']))

In [75]:
# open the file in the write mode
f = open('./dataparsed/keywords.csv', 'w')

# create the csv writer
writer = csv.writer(f)

N = len(keywords)
for i in range(N):
    writer.writerow(keywords[i])

Parsing and refining movies metadata file

In [76]:
m_df = pd.read_csv(r'./data/movies_metadata.csv')
m_df.head(1)

C:\Users\20111\AppData\Local\Temp\ipykernel_22076\2480996344.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  m_df = pd.read_csv(r'./data/movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

Extracting genres

In [90]:
genres = [("movie_id", "genre_id", "genre")]
N = m_df.shape[0]

for i in range(N):
    id = m_df['id'][i]
    info_str = m_df['genres'][i]
    info_dicts = ast.literal_eval(info_str)

    for entry in info_dicts:
        genres.append((id, entry['id'], entry['name']))

In [91]:
# open the file in the write mode
f = open('./dataparsed/genres.csv', 'w')

# create the csv writer
writer = csv.writer(f)

N = len(genres)
for i in range(N):
    writer.writerow(genres[i])

Staying with the movies metadata to extact more info.

In [172]:
m_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

Status column in interesting, as only released movies will be of interest in this analysis

In [79]:
m_df.status.unique()

array(['Released', nan, 'Rumored', 'Post Production', 'In Production',
       'Planned', 'Canceled'], dtype=object)

In [92]:
m_df = m_df[m_df.status == 'Released'].reset_index()

Now having the rows of interest let's determine the columns (attributes) of interest for this analysis

In [93]:
attributes = ['movie_id', 'title', 'popularity', 'budget', 'revenue', 'vote_average', 'vote_count']
m_df.columns

Index(['level_0', 'index', 'adult', 'belongs_to_collection', 'budget',
       'genres', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count'],
      dtype='object')

Getting these attributes from the metadata

In [94]:
attributes = ['movie_id', 'title', 'release_date', 'popularity', 'budget', 'revenue', 'vote_average', 'vote_count']
meta_data = [attributes]

N = m_df.shape[0]

for i in range(N):
    id = m_df.id[i]
    title = m_df.original_title[i]
    release_date = m_df.release_date[i]
    pop = m_df.popularity[i]
    budget = m_df.budget[i]
    revenue = m_df.revenue[i]
    vote_avg = m_df.vote_average[i]
    vote_cnt = m_df.vote_count[i]

    meta_data.append([id, title, release_date, pop, budget, revenue, vote_avg, vote_cnt])

Saving metadata

In [95]:
# open the file in the write mode
f = open('./dataparsed/metadata.csv', 'w')

# create the csv writer
writer = csv.writer(f)

N = len(meta_data)
for i in range(N):
    writer.writerow(meta_data[i])

## Analysis Phase

Initiating a spark session, spart makes use of multiple CPUs and multiple processess, so I will make some aggreagations on the the whole ratings using Apache Spark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('TMDb').getOrCreate()

In [3]:
df_pyspark = spark.read.csv(r'./data/ratings.csv', header= True, inferSchema= True)
df_pyspark.show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|    110|   1.0|1425941529|
|     1|    147|   4.5|1425942435|
|     1|    858|   5.0|1425941523|
|     1|   1221|   5.0|1425941546|
|     1|   1246|   5.0|1425941556|
|     1|   1968|   4.0|1425942148|
|     1|   2762|   4.5|1425941300|
|     1|   2918|   5.0|1425941593|
|     1|   2959|   4.0|1425941601|
|     1|   4226|   4.0|1425942228|
|     1|   4878|   5.0|1425941434|
|     1|   5577|   5.0|1425941397|
|     1|  33794|   4.0|1425942005|
|     1|  54503|   3.5|1425941313|
|     1|  58559|   4.0|1425942007|
|     1|  59315|   5.0|1425941502|
|     1|  68358|   5.0|1425941464|
|     1|  69844|   5.0|1425942139|
|     1|  73017|   5.0|1425942699|
|     1|  81834|   5.0|1425942133|
+------+-------+------+----------+
only showing top 20 rows

In [6]:
# timestamp is not needed
df_pyspark = df_pyspark.drop('timestamp')

The size of the data is well over 25 Million ratings

In [8]:
df_pyspark.count()

26024289

The number of movies is over 45k with users count over 250k

In [11]:
print(df_pyspark.select('movieId').distinct().count())
print(df_pyspark.select('userId').distinct().count())

45115
270896

I will be using PySpark to get insightful statistics that would help in the process of analysis and visulaization of data.  
Gathering the info about how many ratings does every movie has and the average rating of every movie, also the users rate of ratings in value and also quantity.

In [14]:
from pyspark.sql import functions as F

In [16]:
df_pyspark.groupBy('movieId').agg(F.mean('rating'), F.count('rating')).show()

+-------+------------------+-------------+
|movieId|       avg(rating)|count(rating)|
+-------+------------------+-------------+
|   1645| 3.516589990241182|        14346|
|   1591|2.6416020262782967|         6317|
|   3175| 3.586550320670942|        16216|
|   1580|3.5733178489322874|        42193|
|  68135| 3.097457627118644|         2478|
|    471| 3.654817548175482|        12195|
|   1088| 3.239810636881426|        13519|
|   1959|3.6369782971619364|         5990|
|   2122| 2.634513274336283|         2825|
|   2866|3.6019714479945617|         1471|
|  36525|3.4823726916620035|         1787|
|   3918|2.9595715272978578|         1447|
|   3997| 2.077287716405606|         2426|
|   6620| 3.789404132628544|         4162|
|   1238|3.9629796163069546|         3336|
|   2142| 3.038054538054538|         2457|
|   8638|3.9675026123301986|         4785|
|   2366|3.4740872335211956|         8162|
|   1342|2.9637979902087093|         3881|
|   3794| 3.250574712643678|          870|
+-------+------------------+-------------+
only showing top 20 rows

In [17]:
df_pyspark.groupBy('userId').agg(F.mean('rating'), F.count('rating')).show()

+------+------------------+-------------+
|userId|       avg(rating)|count(rating)|
+------+------------------+-------------+
|   148|3.9651162790697674|           43|
|   463|2.8582375478927204|          261|
|   471|3.8238341968911915|          193|
|   496|               4.1|           10|
|   833| 4.333333333333333|            3|
|  1088| 4.466666666666667|           15|
|  1238|3.5942028985507246|           69|
|  1342|              3.25|            6|
|  1580|1.7916666666666667|           24|
|  1591|               4.0|           24|
|  1645| 2.983783783783784|          185|
|  1829| 3.634920634920635|           63|
|  1959|               3.0|            6|
|  2122|              4.05|           10|
|  2142|               4.2|            5|
|  2366| 3.522222222222222|          270|
|  2659| 3.986899563318777|          229|
|  2866|               3.6|           15|
|  3175| 4.266666666666667|           15|
|  3749|               3.6|            5|
+------+------------------+-------------+
only showing top 20 rows

It is vividly apparent that the users vary in their votes averages and the number of movies that they care to give a rating, also it goes without saying that it is vital for our analysis to know which movies are rated heavily or rated highly or both by users.

In [18]:
# saving the insights gained 
movies_agg = df_pyspark.groupBy('movieId').agg(F.mean('rating'), F.count('rating')).toPandas()
users_agg = df_pyspark.groupBy('userId').agg(F.mean('rating'), F.count('rating')).toPandas()

In [20]:
movies_agg.columns = ['movieId', 'rating_avg', 'rating_count']
users_agg.columns = ['userId', 'rating_avg', 'rating_count']

For easier categorizing of the data will be rounding the average votes

In [22]:
movies_agg.round(2)
users_agg.round(2)

movieId           int32
rating_avg      float64
rating_count      int64
dtype: object

In [23]:
# save to dataclean
movies_agg.to_csv(r'./dataclean/movies_ratings.csv')
movies_agg.to_csv(r'./dataclean/users_ratings.csv')

## Data integrity
I have collected the data myself from the ratings data, they are present in the metadata file also, we can compare the two using the ones I have collected as reference if any errors was found

In [2]:
meta_data = pd.read_csv(r'./dataclean/metadata.csv')
movie_ratings = pd.read_csv(r'./dataclean/movies_ratings.csv')

In [20]:
# First check the movies ids to be the same in both
meta_id = set(meta_data.movie_id.unique())
ratings_id = set(movie_ratings.movieId.unique())
meta_id == ratings_id

False

Sets turned out to be not identical, some columns of the movie_ratings will be dropped and also from the ratings

In [21]:
len(meta_id), len(ratings_id)

(44889, 45115)

In [22]:
print(f"The number of movies only in the metadata {len(meta_id - ratings_id)}")
print(f"The number of movies only in the ratings {len(ratings_id - meta_id)}")
print(f"The number of movies only in both {len(ratings_id & meta_id)}")

The number of movies only in the metadata 37396
The number of movies only in the ratings 37622
The number of movies only in both 7493

After investegation, the ids of interest are the nearly 7.5k movies that we have metadata about and are actually rated by users, this requires refining the cleaned data to ensure integrity

In [23]:
target_ids = ratings_id & meta_id

In [115]:
li = list(target_ids)
len(li)

7493

In [112]:
# files are split into 2 categories, ones not affected by the filter
# and others affected these being the aggregate functions previously calculated by pyspark
# handling the filters
# it has come to my attention the presence of duplicates from a later phase
# so went back and added dropping duplicates in cleaning
simple_filters_files = ['cast', 'directors', 'genres', 'keywords', 'metadata']

for filename in simple_filters_files:
    df = pd.read_csv(f'./dataparsed/{filename}.csv')
    df = df[df.movie_id.isin(target_ids)]
    df.drop_duplicates(inplace= True)
    df.to_csv(f'./dataclean/{filename}.csv', header= True, index= False)

In [100]:
# second we should filter the ratings before applying aggregate functions again
ratings = pd.read_csv(r'./data/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [101]:
# timestamp is still not needed
ratings.drop(columns= ['timestamp'], inplace= True)

In [102]:
ratings = ratings[ratings.movieId.isin(target_ids)]
len(ratings)

11415489

We are left with legit 11 Million ratings for the 7500 movies

In [103]:
# saving the cleaned ratings
ratings.to_csv(r'./dataclean/ratings.csv', header= True, index= False)

Using map reduce on data, apche spark has it underlying

In [33]:
# Now I should utilize pyspark to aggregate the Millions of records of ratings
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('TMDb').getOrCreate()

In [48]:
df_pyspark = spark.read.csv(r'./dataclean/ratings.csv', header= True, inferSchema= True)
df_pyspark.show(5)

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|    110|   1.0|
|     1|    147|   4.5|
|     1|    858|   5.0|
|     1|   1246|   5.0|
|     1|   1968|   4.0|
+------+-------+------+
only showing top 5 rows

In [49]:
from pyspark.sql import functions as F

In [60]:
target_agg_attributes = ['movieId', 'userId']

for att in target_agg_attributes:
    df_agg = df_pyspark.groupBy(att).agg(F.mean('rating'), F.count('rating')).toPandas()
    df_agg.columns = [att, 'rating_avg', 'rating_count']
    df_agg = df_agg.round(2)
    df_agg.to_csv(f'./dataclean/{att[: -2]}s_ratings.csv', header= True, index= False)

## Recomendation System
Visualizations are pivotal in the process of data analysis
### Visualizations
We can test the interest of our voters in the movie eras by checking the number of votes per year

In [120]:
meta_data = pd.read_csv(r'./dataclean/metadata.csv')
movie_ratings = pd.read_csv(r'./dataclean/movies_ratings.csv')
print(set(meta_data.movie_id) - set(movie_ratings.movieId))
len(meta_data) , len(movie_ratings)
# a duplicate was found @ id = 4912
# dealt with manually 11.331072 + 7.645827	
# meta_data[meta_data.movie_id == 4912]

set()

(7493, 7493)

In [119]:
# validating the integrity of the data it came to my attention a duplicate is in metadata
# I will go on compensate with the average of both
# As in this link, max deems appropriate https://developers.themoviedb.org/3/getting-started/popularity
# my hypothesis is that there were two records for this movie on is more updated than the other
# so averaging is good, both values can be found in parsed metadata
# (11.331072 + 7.645827)/2

9.4884495

It can be seen that data is now validated, the unique values in both files is the same

In [130]:
movie_ratings.rename(columns= {'movieId': 'movie_id'}, inplace= True)
movie_df = pd.merge(meta_data,movie_ratings,on='movie_id')
movie_df.head()

,movie_id,title,release_date,popularity,budget,revenue,vote_average,vote_count,rating_avg,rating_count
0,862,Toy Story,1995-10-30,21.946943,30000000,373554033.0,7.7,5415.0,3.60,374
1,8844,Jumanji,1995-12-15,17.015539,65000000,262797249.0,6.9,2413.0,3.76,123
2,949,Heat,1995-12-15,17.924927,60000000,187436818.0,7.7,1886.0,3.91,2345
3,710,GoldenEye,1995-11-16,14.686036,58000000,352194034.0,6.6,1194.0,2.74,1319
4,1408,Cutthroat Island,1995-12-22,7.284477,98000000,10017322.0,5.7,137.0,3.71,13888

There is a difference between the vote_avg and count in the metadata rather than the one collected from the ratings data, as the recommendation engine relies heavily on the ratings so we will stick to this   
https://www.themoviedb.org/talk/5f879e57a275020039cc79ee, the metadata values are provided from the API, they maybe of use later

### Number of movies per year

In [131]:
movie_df.dtypes

movie_id          int64
title            object
release_date     object
popularity      float64
budget            int64
revenue         float64
vote_average    float64
vote_count      float64
rating_avg      float64
rating_count      int64
dtype: object

In [138]:
movie_df.release_date = pd.to_datetime(movie_df.release_date) #, format= '%Y-%m-%d')
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7493 entries, 0 to 7492
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      7493 non-null   int64
 1   title         7493 non-null   object
 2   release_date  7485 non-null   datetime64[ns]
 3   popularity    7493 non-null   float64
 4   budget        7493 non-null   int64
 5   revenue       7493 non-null   float64
 6   vote_average  7493 non-null   float64
 7   vote_count    7493 non-null   float64
 8   rating_avg    7493 non-null   float64
 9   rating_count  7493 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 643.9+ KB

In [152]:
# dropping 8 movies with no known release date
movie_df.dropna(inplace= True)
movie_df.reset_index(inplace= True)

In [153]:
movie_df['release_year'] = movie_df.release_date.dt.year
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7485 entries, 0 to 7484
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         7485 non-null   int64
 1   movie_id      7485 non-null   int64
 2   title         7485 non-null   object
 3   release_date  7485 non-null   datetime64[ns]
 4   popularity    7485 non-null   float64
 5   budget        7485 non-null   int64
 6   revenue       7485 non-null   float64
 7   vote_average  7485 non-null   float64
 8   vote_count    7485 non-null   float64
 9   rating_avg    7485 non-null   float64
 10  rating_count  7485 non-null   int64
 11  release_year  7485 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(5), object(1)
memory usage: 701.8+ KB

In [157]:
movie_df.groupby('release_year').agg({'rating_count': ['sum', 'mean', 'count'], 'rating_avg': ['sum', 'mean']})

             rating_count                   rating_avg
                      sum        mean count        sum      mean
release_year
1890                   24   24.000000     1       3.56  3.560000
1891                   17    8.500000     2       7.22  3.610000
1892                   10   10.000000     1       3.50  3.500000
1894                    8    2.666667     3       9.58  3.193333
1895                   51   25.500000     2       5.15  2.575000
...                   ...         ...   ...        ...       ...
2012                84171  200.407143   420    1246.24  2.967238
2013                10724   48.089686   223     648.04  2.906009
2014                  709   18.179487    39     111.39  2.856154
2015                  865   72.083333    12      29.24  2.436667
2016                   20    4.000000     5      15.01  3.002000

[119 rows x 5 columns]

## Conclusion
1. Data manipulation with pySpark at first was based on the movies ids were close to each other each being 45k, it had to be rerun after the data being proven 
2.