# The Movies Database
## Descriptive Analysis

Required imports

In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import pyspark
%matplotlib inline

### Cleaning the data
Loading the cast file and exploring its contents

In [70]:
cast_df = pd.read_csv(r'./data/credits.csv')
cast_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

Files are in JSON format which is not friendly to exploration.  
Parsing the data to get the actors info for each movie in a csv, from the cast column.  
(movie_id, actor_id, name, order, gender)
order: the order in the credits with 0 being the star of the movie    
Although crew are critical to movies quality, the audience rarely targets them when heading to a movie, so I will only take the director form the crew column.

In [91]:
# JSON requires name being in double quotes
# ast handles this pretty well 
import ast

After parsing the data getting the director per movie.

In [92]:
x = (cast_df['crew'][0])
y = ast.literal_eval(x)
for i in y:
    if i['job'] == 'Director':
        print(i['name'])

John Lasseter

Getting (movie_id, actor_id, name, order, gender)

In [117]:
x = (cast_df['cast'][0])
y = ast.literal_eval(x)
for k in y[0]:   
    print(k, y[0][k])

cast_id 14
character Woody (voice)
credit_id 52fe4284c3a36847f8024f95
gender 2
id 31
name Tom Hanks
order 0
profile_path /pQFoyx7rp09CJTAb932F2g8Nlho.jpg

Saving clean data into csv files

In [118]:
actors = [("movie_id", "actor_id", "name", "order", "gender")]
cast = cast_df['cast']
ids = cast_df['id']
N = cast.shape[0]

for i in range(N):
    info_str = cast[i]
    id = ids[i]
    info_dicts = ast.literal_eval(info_str)
    for entry in info_dicts:
        actors.append((id, entry['id'], entry['name'], entry['order'], entry['gender']))

In [119]:
directors = [("movie_id", "director_id", "name")]
crew = cast_df['crew']

N = crew.shape[0]

for i in range(N):
    info_str = crew[i]
    info_dicts = ast.literal_eval(info_str)
    for entry in info_dicts:
        if entry['job'] == 'Director':
            directors.append((id, entry['name']))

Comparing number of movies to number of diectors it is apparent that some movies have multiple directors.  
Comparing number of actors per movie comes out to be average of 12 actors per movie.

In [104]:
print(len(directors), N)
print(len(actors)/N)

49048 45476
12.36859002550796

Output the cleaned data

In [112]:
import csv

In [114]:
# open the file in the write mode
f = open('./dataclean/cast.csv', 'w')

# create the csv writer
writer = csv.writer(f)

N = len(actors)
for i in range(N):
    writer.writerow(actors[i])

In [115]:
# open the file in the write mode
f = open('./dataclean/directors.csv', 'w')

# create the csv writer
writer = csv.writer(f)

N = len(directors)
for i in range(N):
    writer.writerow(directors[i])

Keywords are indicative to desire of watching a movie, maybe more specific than genres.

In [120]:
kw_df = pd.read_csv(r'./data/keywords.csv')
kw_df.head(1)

    id                                           keywords
0  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...

In [123]:
x = kw_df['keywords'][1]
y = ast.literal_eval(x)
print(y)

[{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}, {'id': 15101, 'name': "based on children's book"}, {'id': 33467, 'name': 'new home'}, {'id': 158086, 'name': 'recluse'}, {'id': 158091, 'name': 'giant insect'}]

In [125]:
N = kw_df.shape[0]
keywords = [("movie_id", "keyword_id", "keyword")]
for i in range(N):
    id = kw_df['id'][i]
    info_str = kw_df['keywords'][i]
    info_dicts = ast.literal_eval(info_str)
    for entry in info_dicts:
        keywords.append((id, entry['id'], entry['name']))

In [126]:
# open the file in the write mode
f = open('./dataclean/keywords.csv', 'w')

# create the csv writer
writer = csv.writer(f)

N = len(keywords)
for i in range(N):
    writer.writerow(keywords[i])

Cleaning movies metadata file

In [169]:
m_df = pd.read_csv(r'./data/movies_metadata.csv')
m_df.head(1)

C:\Users\20111\AppData\Local\Temp\ipykernel_15492\2480996344.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  m_df = pd.read_csv(r'./data/movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

Extracting genres

In [170]:
genres = [("movie_id", "genre_id", "genre")]
N = m_df.shape[0]

for i in range(N):
    id = m_df['id'][i]
    info_str = m_df['genres'][i]
    info_dicts = ast.literal_eval(info_str)

    for entry in info_dicts:
        genres.append((id, entry['id'], entry['name']))

In [171]:
# open the file in the write mode
f = open('./dataclean/genres.csv', 'w')

# create the csv writer
writer = csv.writer(f)

N = len(genres)
for i in range(N):
    writer.writerow(genres[i])

Staying with the movies metadata to extact more info.

In [172]:
m_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

Status column in interesting, as only released movies will be of interest in this analysis

In [173]:
m_df.status.unique()

array(['Released', nan, 'Rumored', 'Post Production', 'In Production',
       'Planned', 'Canceled'], dtype=object)

In [174]:
m_df = m_df[m_df.status == 'Released'].reset_index()

Now having the rows of interest let's determine the columns (attributes) of interest for this analysis

In [175]:
attributes = ['movie_id', 'title', 'popularity', 'budget', 'revenue', 'vote_average', 'vote_count']
m_df.columns

Index(['index', 'adult', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

Getting these attributes from the metadata

In [176]:
attributes = ['movie_id', 'title', 'release_date', 'popularity', 'budget', 'revenue', 'vote_average', 'vote_count']
meta_data = [attributes]

N = m_df.shape[0]

for i in range(N):
    id = m_df.id[i]
    title = m_df.original_title[i]
    release_date = m_df.release_date[i]
    pop = m_df.popularity[i]
    budget = m_df.budget[i]
    revenue = m_df.revenue[i]
    vote_avg = m_df.vote_average[i]
    vote_cnt = m_df.vote_count[i]

    meta_data.append([id, title, release_date, pop, budget, revenue, vote_avg, vote_cnt])

Saving metadata

In [177]:
# open the file in the write mode
f = open('./dataclean/metadata.csv', 'w')

# create the csv writer
writer = csv.writer(f)

N = len(meta_data)
for i in range(N):
    writer.writerow(meta_data[i])

### Analysis Phase

Initiating a spark session

In [178]:
#from pyspark.sql import SparkSession
#spark = SparkSession.builder.appName('TMDb').getOrCreate()